{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="card shadow">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-white-50 bg-dark">
          Git
        </li>
        <li class="list-group-item text-white-50 bg-dark">
          Python
        </li>
        <li class="list-group-item text-white-50 bg-dark">
          Django
        </li>
        <li class="list-group-item text-white-50 bg-dark">
          HTML/CSS
        </li>
        <li class="list-group-item text-white-50 bg-dark">
          Bootstrap
        </li>
        <li class="list-group-item text-white-50 bg-dark">
          JavaScript
        </li>
      </ul>
    </aside>
    <div class="card-body col-12 col-md-9">
      <article>
        <p>Текст страницы "Технологии"</p>
      </article>
    </div>
  </div>
</div>
{% endblock %}
