{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="card shadow">
  <div class="card-header text-white-50 bg-dark">
    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'users:password_reset' %}">
      {% csrf_token %}  
      <!--FIXME: include form.html -->
      <div class="form-group row my-3 p-3">
        <label for="id_email">
          Адрес электронной почты
          <span class="required text-danger">*</span>
        </label>    
        <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
      </div>
      <div class="d-flex">
        <button type="submit" class="flex-fill btn btn-outline-dark">
          Сбросить пароль
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}