{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
<div class="card shadow">
  <div class="card-header text-white-50 bg-dark">Зарегистрироваться</div>
    <div class="card-body">  
      {% include 'includes/form_error.html' %}
      <form method="post" action="{% url 'users:signup' %}">
        {% include 'includes/form.html' %}
        <div class="d-flex">
          <button type="submit" class="flex-fill btn btn-outline-dark">
            Зарегистрироваться
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %} 